[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
sqlalchemy-jsonfield = "*"
flask-migrate = "*"
"psycopg2" = "*"
celery = "*"
flower = "*"
redis = "*"
requests = "*"
bootstrap-flask = "*"
flask-admin = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
