[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
sqlalchemy-jsonfield = "*"
flask-migrate = "*"
"psycopg2-binary" = "*"
celery = "*"
flower = "*"
redis = "*"
requests = "*"
bootstrap-flask = "*"
flask-admin = "*"
urllib3 = ">=1.24.2"
Jinja2 = ">=2.10.1"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
